/* Insert fonts: Thank you, Raustila, Shree Devanagari 714, Playfair Display */
@font-face {
  font-family: 'Raustila';
  src: url('fonts/raustila-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Shree';
  src: url('fonts/Shree-Devanagari-714.ttf')  format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay.ttf')  format('truetype');
}

@font-face {
  font-family: 'Thank You';
  src: url('fonts/Thank-you.ttf')  format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
  padding: 0;
}

:root {
  --light-blue: rgb(208, 235, 255);
  --dark-blue: rgb(1, 62, 166);
  --blush: rgb(250, 229, 227);
  --green: rgb(45, 83, 15);
  --white: rgb(253, 253, 253);
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 1030;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.3);
}

.center {
  text-align: center;
}

.dark-blue {
  color: var(--dark-blue);
}

hr.dark-blue {
  border-color: var(--dark-blue);
}

.bg--light-blue {
  background-color: var(--light-blue);
}

a:link,a:visited,a:active.dark-blue {
  color: var(--dark-blue);
}

a:hover.dark-blue {
  color: var(--blush);
  text-decoration: none;
}

.header-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
}

.cut-image {
  object-position: center;
}

.wrapper {
  width: 100%;
  margin: auto;
  padding-top: 180px;
}

.banner {
  width: 100%;
  background-color: var(--light-blue);
  color: white;
  font-family: 'Shree';
  font-weight: 900;
  font-size: 16px;
  padding: 15px;
}

.banner--expanded {
  height: 100vh;
}

.banner p {
  margin: 0;
  font-size: 14px;
}

.banner-text--x-wrapper {
  height: 30px;
}

.banner-text--x {
  padding: 0 15px;
  font-size: 20px;
  float: right;
}

.banner-text--x:hover,:active {
  cursor: pointer;
}

.banner-text--alert {
  text-transform: uppercase;
}

.banner-text--arrow {
  position: relative;
  height: 15px;
  margin-bottom: 5px;
}

.banner-text--arrow:hover,:active {
  cursor: pointer;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 15px;
  height: 15px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}
  
.arrow:before {
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar {
  font-family: 'Shree';
  background-color: white;
  box-shadow: 0px 3px 3px -3px rgb(164, 186, 202);
}

.main-nav {
  display: none;
}

.nav-bar--link-wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin: auto;
}

.nav-bar--monogram {
  display: none;
  width: 100px;
  margin: auto;
}

.mobile-nav--monogram {
  width: 100px;
}

.nav-bar-item {
  display: flex;
  text-transform: uppercase;
}

.mobile-nav {
  position: fixed;
  display: none;
  z-index: 1040;
  top: 0;
  left: 60%;
  background: white;
  width: 40%;
  height: 100vh;
  box-shadow: -2px 0px 3px -3px rgb(164, 186, 202);
}

.open {
  display: block !important;
}

.mobile-nav-icon {
  width: 25px;
  margin: 25px;
}

.mobile-nav-icon--bar {
  width: 100%;
  text-align: left;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.mobile-nav--item {
  width: 100%;
  text-transform: uppercase;
  padding: 15px;
}

.mobile-nav--item:hover {
  background-color: var(--light-blue);
}

.mobile-nav--item a {
  display: inline-block;
  width: 100%;
  padding: 0;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 0;
}

.colour {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}

.blush {
  background-color: var(--blush);
}

.navy {
  background-color: var(--dark-blue);
}

.baby-blue {
  background-color: var(--light-blue);
}

.white {
  background-color: var(--white);
}

.green {
  background-color: var(--green);
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.section {
  padding: 20px 0;
  margin: 0 auto
}

.content-wrapper {
  font-family: 'Shree';
  background-color: white;
  color: var(--dark-blue);
  text-align: center;
  width: 90%;
  border: 1px solid var(--light-blue);
  border-radius: 25px;
  margin: 20px auto;
  padding: 15px;
  font-size: 14px;
}

.content-title {
  font-family: 'Playfair Display', sans-serif;
  padding-bottom: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.content-text {
  font-family: 'Shree';
  color: var(--dark-blue);
}

.intro--florals {
  width: 300px;
}

.intro--names {
  font-size: 20px;
  font-family: 'Thank You';
}

.intro--text {
  font-size: 14px;
  font-family: 'Thank You';
}

.intro--date {
  font-family: 'Raustila';
  font-size: 24px;
}

.info--title {
  font-family: 'Thank You';
  font-weight: bold;
  padding: 10px 0;
}

.info--title--nop {
  font-family: 'Thank You';
  font-weight: bold;
  padding-top: 10px;
}

.info--img {
  width: 100px;
  transform: rotate(15deg);
}

.info--date {
  font-family: 'Thank You';
  font-size: 40px;
  font-weight: bold;
}

.info--icon {
  width: 50px;
  padding-bottom: 20px;
}

.info--details {
  font-family: 'Thank You';
  font-weight: bold;
}

.directions-link {
  text-transform: uppercase;
  font-weight: bold;
}

.registry-button {
  border: 1px solid var(--dark-blue);
  width: 300px;
  padding: 10px;
  margin: 20px;
}

@media (min-width: 40rem) {
  .nav-bar--monogram {
    display: block;
  }

  .nav-bar-item {
    width: 100px;
  }

  .content-wrapper {
    width: 50%;
  }

  .banner p {
    font-size: 16px;
  }

  .mobile-nav-icon--bar {
    display: none;
  }

  .main-nav {
    display: block;
  }
}
